/* Definte Custom Fonts */
@font-face {
    font-family: 'circular-std-black';
    src: url('./font/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'circular-std-black-italic';
    src: url('./font/CircularStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'circular-std-bold';
    src: url('./font/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'circular-std-bold-italic';
    src: url('./font/CircularStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'circular-std-medium';
    src: url('./font/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'circular-std-medium-italic';
    src: url('./font/CircularStd-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'circular-std-book';
    src: url('./font/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circular-std-book-italic';
    src: url('./font/CircularStd-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* Global Styles */

.App {
  width: 784px;
  margin-left: auto;
  margin-right: auto;
}

/* Header Styles */

.header {
  width: 100%;
  margin-top: 115px;
  margin-bottom: 76px;
  font-family: circular-std-medium, Arial, sans-serif;
}

.header .navigation {
  width: 100%;
  display: flex;
}

.header .navigation div a {
  color: #BBBBBB;
  text-decoration: none;
  transition: color 0.2s;
}

.header .navigation div a:hover {
  color: black !important;
}

.header .navigation div a:visited {
  color: inherit;
}

.header .navigation-sub {
  width: 276px;
  font-size: 22px;
  display: flex;
}

.header .navigation .anne {
  font-size: 26px;
  width: calc(100% - 276px);
  line-height: 36px;
}

.header .navigation .navigation-sub .active {
  color: black;
}

.header .navigation .navigation-sub .inactive {
  color: #BBBBBB;
}

.header .navigation .navigation-sub .work, .articles {
  padding-right: 40px;
}

.header .designer {
  font-size: 26px;
  line-height: 36px;
}

.header .speciality {
  font-size: 20px;
  color: #02CF5D;
  line-height: 36px;
}

/* Projects */

.projects {
  width: 100%;
  font-family: circular-std-medium, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}

.projects .left {
  width: 369px;
}

.projects .left .projects-intro {
  font-family: circular-std-book;
  margin-top: 0px;
  margin-bottom: 58px;
  font-size: 18px;
  line-height: 28px;
}

.projects .left .projects-intro .bold {
  font-family: circular-std-medium, Arial, sans-serif;
}

.projects .right {
  width: 369px;
}

/* Individual Project */
.project a {
  text-decoration: none;
  color: inherit;
}

.project a:visited {
  color: black;
}

.hmw {
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.4s;
}

.show {
  opacity: 1;
}

.change-color-0 {
  color: #0B9C96;
}

.change-color-1 {
  color: #E96F5E;
}

.change-color-2 {
  color: #FBC060;
}

.change-color-3 {
  color: #72A4EE;
}

.change-scale {
  transform: scale(1.05);
}

.hmw .hmw-background {
  width: 369px;
  height: 369px;
  text-align: center;
  font-family: circular-std-medium, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-default {
  width: 100%;
  margin-bottom: 53px;
}

.project-last {
  width: 100%;
  margin-bottom: 0px;
}

.project-image {
  width: 369px;
  height: 369px;
  overflow: hidden;
  margin-bottom: 19px;
}

.project-image-size {
  width: 369px;
  height: 369px;
  box-shadow: 0px 0px 20px #DADADA;
  transition: transform 0.4s;
}

.project-title {
  font-size: 18px;
  line-height: 28px;
  transition: color 0.4s;
}

.project-category {
  font-family: circular-std-book, Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  transition: color 0.4s;
}

/* Footer */
.footer {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer .footer-statement {
  font-family: circular-std-medium, Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0px auto 11px auto;
  width: 100%;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer .social-links .social {
  background-color: #000000;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.footer .social-links .social-last {
  background-color: #000000;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  margin-right: 0px;
}

.footer .social-links .social .behance {
  width: 19px;
  height: 12px;
  padding: 10px 6.5px 10px 6.5px;
}

.footer .social-links .social .linkedin {
  width: 16px;
  height: 14px;
  padding: 8px 8px 10px 8px;
}

.footer .social-links .social .medium {
  width: 16px;
  height: 12px;
  padding: 10px 8px 10px 8px;
}

.footer .social-links .social-last .email {
  width: 16px;
  height: 12px;
  padding: 10px 8px 10px 8px;
}

.footer .footer-copyright {
  font-family: circular-std-book, Arial, sans-serif;
  font-size: 14px;
  color: #B1B1B1;
  line-height: 36px;
  margin: 20px auto 0px auto;
  width: 100%;
}
