@media screen and (max-width: 930px) {
  .body {
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .header .navigation .anne,
  .header .designer {
    font-size: 20px;
    width: 100%;
    line-height: 24px;
  }

  .header .speciality {
    font-size: 16px;
    line-height: 28px;
  }

  .navigation .navigation-sub {
    display: none;
  }

  .header-project {
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
  }

  .header-project .anne {
    display: none;
  }

  .footer .footer-statement {
    font-size: 14px;
    line-height: 20px;
    margin: 0px auto 11px auto;
  }

  .footer .footer-copyright {
    font-size: 12px;
    line-height: 36px;
    margin: 10px auto 0px auto;
  }

  /* Optimize Main Page */

  .projects {
    width: 100%;
    display: block;
  }

  .projects .left .projects-intro {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
  }

  .projects .left,
  .projects .right {
    width: 100%;
  }

  .projects .left {
    margin-bottom: 30px;
  }

  .projects .right {
    margin-bottom: 0px;
  }

  .project {
    width: 100%;
  }

  .hmw{
    width: calc(100% - 80px);
    height: calc(100vw - 95px);
  }

  .hmw .hmw-background {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
  }

  .project-image {
    width: 100%;
    height: calc(100vw - 95px);
    overflow: hidden;
    margin-bottom: 19px;
    box-shadow: 0px 0px 20px #E8E8E8;
  }

  .project-image-size {
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
  }

  .project-title {
    font-size: 14px;
    line-height: 20px;
  }

  .project-category {
    font-size: 14px;
    line-height: 20px;
  }

  .project-default,
  .project-last {
    width: 100%;
    margin-bottom: 30px;
  }

  /* Optimize Articles Page */

  .articles {
    width: 100%;
    display: block;
  }

  .articles .left .articles-intro {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
  }

  .articles .left,
  .articles .right {
    width: 100%;
  }

  .articles .left {
    margin-bottom: 30px;
  }

  .articles .right {
    margin-bottom: 0px;
  }

  .article-image {
    width: 100%;
    height: calc((100vw - 80px) * 0.6);
    overflow: hidden;
  }

  .article-image-size {
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
  }

  .article-default,
  .article-last {
    width: 100%;
    height: calc((100vw - 70px) * 0.9);
    margin-bottom: 30px;
  }

  .article-contents {
    padding: 20px 18px 20px 18px;
  }

  .article-title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 2px;
  }

  .article-subtitle {
    font-size: 12px;
    line-height: 18px;
  }

  .article-date {
    display: none;
  }

  /* Optimize About Page */

  .about-image {
    width: 100%;
    height: calc((100vw - 80px) * 0.65);
    box-shadow: 0px 0px 10px rgba(224, 224, 224, 0.5);
  }

  .about-content {
    margin-top: 30px;
    font-size: 14px;
    line-height: 20px;
  }

  .about-title {
    font-size: 20px;
  }

  /* Optimize PRISM Video Page */

  .prismvideo .cover {
    height: 340px;
  }

  .prismvideo .cover .cover-image {
    height: 600px;
    position: absolute;
    top: -150px;
    right: -240px;
    opacity: 0.4;
  }

  .logo-image {
    margin-top: 60px;
  }

  .project-info {
    width: 100%;
  }

  .project-info .project-title {
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
  }

  .project-domain {
    font-size: 16px;
    line-height: 18px;
    padding-top: 12px;
  }

  .project-details-top,
  .project-details {
    font-size: 11px;
    color: #918EA0;
    line-height: 20px;
  }

  .project-details-top {
    margin-top: 50px;
  }

  .project-details-text {
    margin-left: 35px;
  }

  .content-title {
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 24px;
    padding-top: 60px;
  }

  .content {
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 20px;
    padding-top: 30px;
  }

  .middle {
    padding-bottom: 30px;
  }

  .end {
    padding-bottom: 60px;
  }

  .video {
    width: calc(100% - 80px);
    height: calc((100vw - 80px) * 590 / 784);
  }

  .image {
    width: calc(100% - 80px);
  }

  .prismvideo .redesign {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .prismvideo .redesign .redesign-background,
  .prismvideo .redesign .redesign-background-last {
    width: calc(100% - 40px);
  }

  .prismvideo .redesign .redesign-background {
    margin-bottom: 30px;
  }

  .prismvideo .redesign .redesign-background .content-title,
  .prismvideo .redesign .redesign-background-last .content-title {
    width: calc(100% - 40px);
    font-size: 20px;
    line-height: 24px;
    padding-top: 30px;
  }

  .prismvideo .redesign .redesign-background .quote,
  .prismvideo .redesign .redesign-background-last .quote {
    width: calc(100% - 40px);
    margin-top: 20px;
    font-size: 16px;
  }

  .quote-image {
    width: 12px;
    height: 8px;
    margin-right: 8px;
  }

  .prismvideo .redesign .redesign-background .content,
  .prismvideo .redesign .redesign-background-last .content {
    width: calc(100% - 40px);
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
  }

  .prismvideo .redesign .image {
    width: calc(100% - 40px);
    padding-bottom: 20px;
  }

  .prismvideo .redesign .middle {
    padding-bottom: 20px;
  }

  .prismvideo .redesign .end {
    padding-bottom: 30px;
  }

  .thanks {
      width: 100%;
      padding-top: 60px;
      padding-bottom: 60px;
  }

  .thanks-text {
    width: calc(100% - 40px);
    font-size: 20px;
    line-height: 24px;
  }

  .thanks .link {
    width: calc(100% - 40px);
    font-size: 18px;
    line-height: 22px;
  }

  .thanks .download{
    width: calc(100% - 40px);
  }

  .thanks .download-button {
    width: 180px;
    font-size: 14px;
  }

  .thanks .download-button:hover {
    color: black;
    background-color: white;
    border: 1px solid white;
  }

  .bottom-navigation {
    margin-top: 60px;
    width: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
  }

  .link {
    text-align: center;
    width: 100%;
    padding: 6px 0px 6px 0px;
  }

  /* Optimize PRISM Layout Page */

  .prismlayout .cover {
    height: 340px;
  }

  .prismlayout .cover .cover-image {
    width: 400px;
    position: absolute;
    top: 170px;
    right: -170px;
    opacity: 0.3;
  }

  .prismlayout .limitations {
    background-color: #F8F8F8;
    width: 100%;
  }

  .prismlayout .video {
    width: calc(100% - 80px);
    height: calc((100vw - 80px) * 484 / 784);
  }

  .prismlayout .concepts {
    padding-bottom: 60px;
  }

  .prismlayout .concepts .content-title {
    width: calc(100% - 80px);
    justify-content: space-between;
    font-size: 16px;
  }

  .prismlayout .proscons {
    margin: 30px auto 0 auto;
    width: calc(100% - 80px);
    flex-wrap: wrap;
  }

  .prismlayout .proscons-pros {
    width: 100%;
    padding: 20px 20px 20px 20px;
  }

  .prismlayout .proscons-cons {
    width: 100%;
    padding: 10px 20px 20px 20px;
  }

  .prismlayout .proscons-title {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 12px;
  }

  .prismlayout .proscons-content {
    font-size: 14px;
    line-height: 20px;
  }

  .prismlayout .solution .image {
    width: calc(100% - 80px);
  }

  .prismlayout .link a {
    color: #9A9A9A;
  }

  .prismlayout .compare .compare-title {
    width: calc(100% - 80px);
    justify-content: space-evenly;
    padding-top: 60px;
  }

  .prismlayout .compare .compare-title .solution-title {
    font-size: 20px;
  }

  .prismlayout .tobe {
    width: calc(100% - 40px);
    height: calc((100vw - 40px) * 597 / 1189);
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px 60px 0px;
  }

  .prismlayout .asis {
    width: calc(100% - 40px);
    height: calc((100vw - 40px) * 597 / 1027);
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px 60px 0px;
  }

  .pc {
    display: none;
  }
}

@media screen and (min-width: 931px) {
  .navigation button,
  .mobile {
    display: none;
  }
}
